<p id="notice"><%= notice %></p>

<h1>Tariffa Oraria</h1>
<br>
<table>
  <thead>
    <tr>
    <th id= "title">Tariffa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tariffa_oraria.each do |tariffa_orarium| %>
      <tr>
        <td><%= tariffa_orarium.tariffa %> €/h</td>
        <td><%= link_to 'Modifica', edit_tariffa_orarium_path(tariffa_orarium) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <br>
<%= link_to 'Indietro', clients_path %>
<br>
</p>
